In [1]:
import numpy as np
import pandas as pd

In [3]:
matrix_data= np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['Raju','Pandey','Srini','Sunil','Ashok']
column_headings = ['Age','height','Weight']

In [4]:
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print("\nA new Dataframe\n",'-'*25,sep='')
print(df)

A new Dataframe
-------------------------
        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [6]:
print("\nThe Height column\n",'-'*25,sep='')
print(df['height'])

The Height column
-------------------------
Raju      66
Pandey    70
Srini     62
Sunil     68
Ashok     62
Name: height, dtype: int32

In [9]:
print("\nType of the column: ",type(df['height']),sep='')
print("\nThe 'Height' and 'Weight' columns indexed by passing a list\n",'-'*55,sep='')
print(df[['height','Weight']])

Type of the column: <class 'pandas.core.series.Series'>

The 'Height' and 'Weight' columns indexed by passing a list
-------------------------------------------------------
        height  Weight
Raju        66     140
Pandey      70     148
Srini       62     125
Sunil       68     160
Ashok       62     152

In [1]:
print("\n The 'Age' column accessed by DOT method (Not Recommended)\n ",'-'*55,sep='')
print(df.Age)

 The 'Age' column accessed by DOT method (Not Recommended)
 -------------------------------------------------------

NameError: name 'df' is not defined

In [2]:
matrix_data= np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['Raju','Pandey','Srini','Sunil','Ashok']
column_headings = ['Age','height','Weight']

NameError: name 'np' is not defined

In [33]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [4]:
matrix_data= np.matrix('22,66,140;42,70,148;30,62,125;35,68,160;25,62,152')
row_labels = ['Raju','Pandey','Srini','Sunil','Ashok']
column_headings = ['Age','height','Weight']

In [5]:
df = pd.DataFrame(data=matrix_data,index=row_labels,columns=column_headings)
print("\nA new Dataframe\n",'-'*25,sep='')
print(df)

A new Dataframe
-------------------------
        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [6]:
print("\n The 'Age' column accessed by DOT method (Not Recommended)\n ",'-'*55,sep='')
print(df.Age)

 The 'Age' column accessed by DOT method (Not Recommended)
 -------------------------------------------------------
Raju      22
Pandey    42
Srini     30
Sunil     35
Ashok     25
Name: Age, dtype: int32

In [10]:
# lets understand the slicing perticular element
# select perticular index data using Loc (index name)
df.loc['Raju']

Age        22
height     66
Weight    140
Name: Raju, dtype: int32

In [11]:
#select perticular index data using iloc( Index position)
df.iloc[0]

Age        22
height     66
Weight    140
Name: Raju, dtype: int32

In [12]:
print(df)

        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [14]:
print("\n select Index and column for a perticular data\n")
print(df.loc['Pandey','height'])

 select Index and column for a perticular data

70

In [16]:
print("\n select Index and list of column data\n")
print(df.loc['Ashok',['height','Weight']])

 select Index and list of column data

height     62
Weight    152
Name: Ashok, dtype: int32

In [17]:
print("\n select list of Index and columns data\n")
print(df.loc[['Srini','Ashok'],['height','Weight']])

 select list of Index and columns data

       height  Weight
Srini      62     125
Ashok      62     152

In [18]:
df

        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [20]:
#Select Data on Condition
print("\n Rows with Height> 65 inch\n",'-'*35,sep='')
print(df[df['height']>65])

 Rows with Height> 65 inch
-----------------------------------
        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Sunil    35      68     160

In [21]:
booldf1 = df['height']>65
booldf2 = df['Weight']>145

In [22]:
print("\n Rows with Height>65 inch and Weight> 145 lbs\n",'-'*55,sep='')
print(df[(booldf1)&(booldf2)])

 Rows with Height>65 inch and Weight> 145 lbs
-------------------------------------------------------
        Age  height  Weight
Pandey   42      70     148
Sunil    35      68     160

In [23]:
print("\n DataFrame with  only Age and Weight column whose Height>65 inch\n",'-'*68,sep='')
print(df[booldf1][['Age','Weight']])

 DataFrame with  only Ageand Weight column whose Height>65 inch
--------------------------------------------------------------------
        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [24]:
selected_candidated = df[booldf1][['Age','Weight']]

In [25]:
print(selected_candidated)

        Age  Weight
Raju     22     140
Pandey   42     148
Sunil    35     160

In [26]:
df

        Age  height  Weight
Raju     22      66     140
Pandey   42      70     148
Srini    30      62     125
Sunil    35      68     160
Ashok    25      62     152

In [27]:
print("\n After resetting index\n",'-'*35,sep='')
print(df.reset_index())

 After resetting index
-----------------------------------
    index  Age  height  Weight
0    Raju   22      66     140
1  Pandey   42      70     148
2   Srini   30      62     125
3   Sunil   35      68     160
4   Ashok   25      62     152

In [28]:
print("\n Rows with Age <335 year \n",'-'*35,sep='')
df= df[df['Age']<35]
print(df)

 Rows with Age <335 year
-----------------------------------
       Age  height  Weight
Raju    22      66     140
Srini   30      62     125
Ashok   25      62     152

In [29]:
print("\nAfter resetting index with 'drop' option True\n",'-'*45,sep='')
print(df.reset_index(drop=True))

After resetting index with 'drop' option True
---------------------------------------------
   Age  height  Weight
0   22      66     140
1   30      62     125
2   25      62     152

In [34]:
print("\nAdding a new column 'Profession'\n",'-'*45,sep='')
df['Profession']= "Student Teacher Engineer".split()
print(df)

Adding a new column 'Profession'
---------------------------------------------
       Age  height  Weight Profession
Raju    22      66     140    Student
Srini   30      62     125    Teacher
Ashok   25      62     152   Engineer

In [32]:
print("\nSetting 'Profession' column as index\n",'-'*45,sep='')
print(df.set_index('Profession'))

Setting 'Profession' column as index
---------------------------------------------
            Age  height  Weight
Profession
Student      22      66     140
Teacher      30      62     125
Engineer     25      62     152