In [ ]:
Functions : Functions will be one of our main building blocks when we cnstruct larger and larger amount of code to solve
problem

In [ ]:
#def: def is the key to define the function
def name_of_function(arg1,arg2):
'''
"here we can write group of code document function"
'''
# Do stuff here
# return desired result

In [3]:
def say_hello():
    print('this is working as a function')

In [4]:
#call a function
say_hello()

this is working as a function

In [11]:
# Example2 : A sample geeting function
def greeting(name):
    print('Hello', name)
    # %s = sting formating, % = passing the argument
    print('Hello %s' %name)

In [12]:
#Dear student replace this name
greeting('Dear Students')

Hello Dear Students
Hello Dear Students

In [40]:
# Return = return statement is allows to result can be stored as a variable
#without return
def salary_incr(salary):
    if salary<= 9000:
        (salary+1000)
    else:
        salary

In [41]:
salary_incr(8000)

In [42]:
print(salary_incr(8000))

None

In [35]:
#with return
def sal(salry):
    if salry <=9000:
        return (salry+1000)
    else:
        return salry

In [36]:
print("your salary is =", sal(1500))

your salary is = 2500

In [43]:
#multiple arguments
def stu_marks(math,science,english):
    return (math+science+english)

In [44]:
print("Total Marks is=", stu_marks(75,85,95))

Total Marks is= 255

In [45]:
total_marks = stu_marks(75,45,95)
total_marks

215

In [48]:
total_marks =stu_marks(75,95,95)

if total_marks < 90:
    print(total_marks,'- You are Fail')
elif total_marks >90 and total_marks <150:
    print(total_marks,'- You are Pass')
elif total_marks >151 and total_marks<250:
    print(total_marks,'- You are First class')
else:
    print(total_marks,'- You are Distinction')

265 - You are Distinction

In [50]:
def phone_buy(phone_make,phone_age,phone_gb):
    if phone_make=='iphone11':
        if 0<phone_age<6:
            if phone_gb==128:
                print('42,309 - 44,926')
            elif phone_gb==64:
                print('32,309 - 37,509')
                
        if 6<phone_age<12:
            if phone_gb==128:
                print('35,750 - 39,450')
            elif phone_gb==64:
                print('25,000-30,000')
    elif phone_make=='sumsung':
        if 0<phone_age<6:
            if phone_gb==128:
                print('27,000 - 31,000')
            elif phone_gb==64:
                print('20,000 - 23,000')

In [58]:
phone_buy('sumsung',5,64)

20,000 - 23,000

In [59]:
phone_buy('sumsung',5,128)

27,000 - 31,000

In [60]:
def sqr(number):
    for n in range(2,number):
        if n%2 == 0:
            print('squared :',n**2)
        else:
            print('It is and odd number : ',n)

In [62]:
sqr(7)

squared : 4
It is and odd number :  3
squared : 16
It is and odd number :  5
squared : 36

In [64]:
#lambda function : it is use only one time
#lambda arguments : expression

In [65]:
add_num = lambda y : y+30
print(add_num(50))

80

In [66]:
#multiple argument
mult_num = lambda a,b : a*b
print(mult_num(15,20))

300

In [67]:
#args and kwargs multipe arguments in result
def my_fun(*args):
    for i in args:
        print('my args: ',i)

In [68]:
my_fun('India',56,30.4,569)

my args:  India
my args:  56
my args:  30.4
my args:  569

In [72]:
def my_fun(**kwargs):
    for i,n in kwargs.items():
        print(i,n)

In [73]:
my_fun(stu=['ram','deepak'],marks=[24,56])

stu ['ram', 'deepak']
marks [24, 56]