In [1]:
emp = []
emp.append('Radha')
print(emp)

['Radha']

In [2]:
!pip3 install jedi==0.17.2

Requirement already satisfied: jedi==0.17.2 in c:\users\lenovo\anaconda3\lib\site-packages (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jedi==0.17.2) (0.7.1)

In [3]:
emp.append('yogesh')
emp.append('Ramesh')

In [4]:
print(emp)

['Radha', 'yogesh', 'Ramesh']

In [5]:
#insert is using for placing the data according to there position and always position starts with '0'
emp.insert(0,'Ravi')
print(emp)

['Ravi', 'Radha', 'yogesh', 'Ramesh']

In [6]:
sal =[15000,25000,35000]
sal.insert(0,45000)
print(sal)

[45000, 15000, 25000, 35000]

In [7]:
print(emp)

['Ravi', 'Radha', 'yogesh', 'Ramesh']

In [8]:
#i want to know how many emp in my company so that we can use length funtion "len"
len(emp)

4

In [9]:
#indexing works in both directions like (forward and backward direction) for forward indexing start with 0,1,2,3.... and
#for backward direction indexing starts with -1,-2,-3,-4,.....
#for forward direction
emp(3)

TypeError: 'list' object is not callable

In [10]:
emp[3]

'Ramesh'

In [11]:
#backward direction
emp[-2]

'yogesh'

In [1]:
#update the list
emp[1]='Remo'
emp

NameError: name 'emp' is not defined

In [2]:
emp=['Ravi','yogesh','Radha','salman']
print(emp)

['Ravi', 'yogesh', 'Radha', 'salman']

In [3]:
emp[1]='sharma'
print(emp)

['Ravi', 'sharma', 'Radha', 'salman']

In [4]:
emp_salary = [10000,20000,30000,50000]
print(emp_salary)

[10000, 20000, 30000, 50000]

In [5]:
emp_salary[3]=45000
print(emp_salary)

[10000, 20000, 30000, 45000]

In [1]:
l = [10,12,13,14]
print(l)

[10, 12, 13, 14]

In [2]:
#Slicing taking position Grab data accordingly
l[1:]

[12, 13, 14]

In [3]:
l[:3]

[10, 12, 13]

In [4]:
l[1:3]

[12, 13]

In [5]:
#starting index shows in the output but ending point not display in the output (end point = (n-1))
l[1:3]

[12, 13]

In [6]:
# concatenate the list
1+[12]
print(l)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [7]:
l+[12]
print(l)

[10, 12, 13, 14]

In [8]:
l+[12]

[10, 12, 13, 14, 12]

In [9]:
print(l)

[10, 12, 13, 14]

In [10]:
#tempraroy adding
l+[12]

[10, 12, 13, 14, 12]

In [11]:
#permanent adding
l = l+[12]
print(l)

[10, 12, 13, 14, 12]

In [12]:
#make list double
l*2
print(l)

[10, 12, 13, 14, 12]

In [13]:
l*2

[10, 12, 13, 14, 12, 10, 12, 13, 14, 12]

In [14]:
print(l)

[10, 12, 13, 14, 12]

In [15]:
l = l*2
print(l)

[10, 12, 13, 14, 12, 10, 12, 13, 14, 12]

In [16]:
#make desiging
print('='*90)
print('                          Yogesh                    ')
print('='*90)

==========================================================================================
                          Yogesh
==========================================================================================

In [17]:
#count= how many students got marks 
marks= [35,55,85,45,65,85,74,95,14,85,65]
marks.count(85)

3

In [18]:
#if you find the placing of any marks use index funtion but its display first placing of index
marks.index(65)

4

In [19]:
emp=['Ravi','Roshan','yogesh','rakesh','shiv']
print(emp)

['Ravi', 'Roshan', 'yogesh', 'rakesh', 'shiv']

In [20]:
emp.append('shyam')
print(emp)

['Ravi', 'Roshan', 'yogesh', 'rakesh', 'shiv', 'shyam']

In [21]:
#append adding data in the last of the list if we want to add multiple data in the use extend
emp.exten(['Anu','Sapna','Tara'])
print(emp)

AttributeError: 'list' object has no attribute 'exten'

In [22]:
emp.extend(['Anu','Sapna','Tara'])
print(emp)

['Ravi', 'Roshan', 'yogesh', 'rakesh', 'shiv', 'shyam', 'Anu', 'Sapna', 'Tara']

In [23]:
#pop = delete last element
emp.pop()

'Tara'

In [24]:
print(emp)

['Ravi', 'Roshan', 'yogesh', 'rakesh', 'shiv', 'shyam', 'Anu', 'Sapna']

In [25]:
#delete based on index
pop_index = emp.pop(1)
pop_index

'Roshan'

In [26]:
print(emp)

['Ravi', 'yogesh', 'rakesh', 'shiv', 'shyam', 'Anu', 'Sapna']

In [27]:
#remove= duplicate value removefrom the list but remove data which comes first
Marks = [12,14,15,16,17,15,12,85,45,54]
Marks.remove(12)

In [28]:
print(Marks)

[14, 15, 16, 17, 15, 12, 85, 45, 54]

In [29]:
#Reverse function is use for reverse the list
Marks.reverse()
print(Marks)

[54, 45, 85, 12, 15, 17, 16, 15, 14]

In [30]:
emp_salary=[15000,12000,10000,45000,65000]
#sort function use for sorting the data in ascending order
emp_salary.sort()
print(emp_salary)

[10000, 12000, 15000, 45000, 65000]

In [31]:
#if you want to dataa in decending order then we have to use two function (1.sort 2.reverse)
sal=[15000,14000,52000,5000,45000]
sal.sort()
#sorting the data
print(sal)
#decendig order
sal.reverse()
print(sal)

[5000, 14000, 15000, 45000, 52000]
[52000, 45000, 15000, 14000, 5000]