In [1]:
#enumerate() give output data with index

In [2]:
student=['ravi','sharma','yogesh','tara','shyam']
for i in enumerate(student):
    print(i)

(0, 'ravi')
(1, 'sharma')
(2, 'yogesh')
(3, 'tara')
(4, 'shyam')

In [3]:
#start index with any number
for i,name in enumerate(student,15):
    print(i,name)

15 ravi
16 sharma
17 yogesh
18 tara
19 shyam

In [4]:
#Zip
student_name=['ravi','rakesh','raja','shankar','yogesh']
student_marks=[10,12,25,45,65]

In [5]:
student_detail = list(zip(student_name,student_marks))

In [6]:
student_detail

[('ravi', 10), ('rakesh', 12), ('raja', 25), ('shankar', 45), ('yogesh', 65)]

In [7]:
#unzip
name,marks_num = zip(*student_detail)

In [8]:
name

('ravi', 'rakesh', 'raja', 'shankar', 'yogesh')

In [9]:
marks_num

(10, 12, 25, 45, 65)

In [11]:
#enumerate and zip simultenously
student_name=['ravi','rakesh','raja','shankar','yogesh']
student_marks=[10,12,25,45,65]
for i,(name,marks) in enumerate(zip(student_name,student_marks),1):
    print(i,name,marks)

1 ravi 10
2 rakesh 12
3 raja 25
4 shankar 45
5 yogesh 65