In [1]:
location = ['Bangalore','mumbai','chandigarh','delhi','gurgaon']
print(location)

['Bangalore', 'mumbai', 'chandigarh', 'delhi', 'gurgaon']

In [2]:
for i in location:
    print(i)

Bangalore
mumbai
chandigarh
delhi
gurgaon

In [3]:
sal = [2000,4000,5000,7000,8000,4500,3800]
for val in sal:
    if val>5000:
        print(val)

7000
8000

In [10]:
student_marks = [35,67,78,79,12,34,67,54,89]
for marks in student_marks:
    if marks>60:
        if marks>70:
            print(marks,'- Distinction')
        else:
            print(marks,'- First class')
    elif marks>50 and marks<=60:
        print(marks,'- Second class')
    elif marks>=35:
        print(marks,'- pass')
    else:
        print(marks, '- Fail-Better luck next time')

35 - pass
67 - First class
78 - Distinction
79 - Distinction
12 - Fail-Better luck next time
34 - Fail-Better luck next time
67 - First class
54 - Second class
89 - Distinction

In [11]:
#list Compehension = result should be inside the list

In [12]:
salry = [2000,4000,5000,7000,8000,4500,3800]
for val in salry:
    if val>5500:
        print(val)

7000
8000

In [13]:
sal = [val for val in salry if val>5500]
sal

[7000, 8000]

In [14]:
#list of number
daily_sales = [100,150,100,200,150,200,300]
#variable to store the sum
income_till_date = 0
#iteration over the list
for val in daily_sales:
    income_till_date = income_till_date+val
    print('income_till_date = > ', income_till_date)
#total income
print('the total weekly income is == > ',income_till_date)

income_till_date = >  100
income_till_date = >  250
income_till_date = >  350
income_till_date = >  550
income_till_date = >  700
income_till_date = >  900
income_till_date = >  1200
the total weekly income is == >  1200

In [15]:
#for loop with else

In [16]:
digit = [10,20,30]
for i in digit:
    print(i)
else:
    print('no item left')

10
20
30
no item left

In [17]:
#while loop--------------------------->>>

In [20]:
i = 0
while i<10:
    i =i+1
    print(i,'- Data trained')

1 - Data trained
2 - Data trained
3 - Data trained
4 - Data trained
5 - Data trained
6 - Data trained
7 - Data trained
8 - Data trained
9 - Data trained
10 - Data trained

In [ ]:
#enumerate() give output wth