In [1]:
import numpy as np
import pandas as pd

In [2]:
#You can give your own index number
ser1 = pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])

In [3]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [4]:
print("\n Indexing by name of the item/objects (strint indentification)\n","-"*56,sep='')
print("Value for CA is ser1:",ser1['CA'])
print("Value for AZ is ser1:",ser1['AZ'])

 Indexing by name of the item/objects (strint indentification)
--------------------------------------------------------
Value for CA is ser1: 1
Value for AZ is ser1: 4

In [5]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [6]:
print("\n Indexing by name of the item/objects (strint indentification)\n","-"*56,sep='')
print("Value for CA is ser1:",ser1[0])
print("Value for AZ is ser1:",ser1[3])

 Indexing by name of the item/objects (strint indentification)
--------------------------------------------------------
Value for CA is ser1: 1
Value for AZ is ser1: 4

In [7]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [9]:
print("\n Indexing by Range of the item/objects (strint indentification)\n","-"*56,sep='')
print("Value for CA is ser1:\n",ser1[1:4],sep='')

 Indexing by Range of the item/objects (strint indentification)
--------------------------------------------------------
Value for CA is ser1:
OR    2
CO    3
AZ    4
dtype: int64

In [11]:
ser1= pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2 = pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [12]:
#lets add both series
ser3 = ser1+ser2
print("\nAfter adding the two series,the result look like this.....\n","-"*59,sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and keeps NaN where indices are missing\n")

After adding the two series,the result look like this.....
-----------------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

Python tries to add values where it finds common index name, and keeps NaN where indices are missing

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1= pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2 = pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [3]:
#lets add both series
ser3 = ser1+ser2
print("\nAfter adding the two series,the result look like this.....\n","-"*59,sep='')
print(ser3)
print("\nPython tries to add values where it finds common index name, and keeps NaN where indices are missing\n")

After adding the two series,the result look like this.....
-----------------------------------------------------------
AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

Python tries to add values where it finds common index name, and keeps NaN where indices are missing