In [1]:
#Sets are an unordered collection of unique element which can be constructed usin the set() function
# 1. duplicate reemove
# 2. sort automatically

In [2]:
#create set()
roll_number=set()

In [3]:
type(roll_number)

set

In [4]:
#adding the data in the set
roll_number.add(1)
print(roll_number)

{1}

In [5]:
roll_number.add(2)
roll_number

{1, 2}

In [6]:
#adding duplicate number show only one number
roll_number.add(1)
roll_number

{1, 2}

In [7]:
#create a list with verymuch duplicate numbers
sal=[12,14,12,15,14,16,18,45,45]
print(type(sal))

<class 'list'>

In [8]:
set(sal)

{12, 14, 15, 16, 18, 45}

In [9]:
type(sal)

list

In [10]:
name = set()

In [11]:
name.add('yogesh')

In [12]:
name

{'yogesh'}

In [13]:
name.add('yogesh')
name

{'yogesh'}

In [14]:
#remove duplicate string also in the set

In [15]:
name = ['yogesh','ravi','shyam','yogesh']
set(name)

{'ravi', 'shyam', 'yogesh'}