In [1]:
import sqlite3

#connecting with the database(if there is no database exits, it will create one)
db = sqlite3.connect("mytestbase.db")

In [2]:
#declare cursor
cursor = db.cursor()

In [3]:
#create table
cursor.execute("create table scores1(gender TEXT, student_id INT PRIMARY kEY, marks INT)")

In [4]:
#insert records into the table.(single records inserting)
cursor.execute("insert into scores1(gender, student_id, marks) values('male',100,55)")

#save the recordes permenantly.(if you dont commit, next time you will not see the records in the table)
db.commit()

#count of records inserted
print(cursor.rowcount,"Rocord(s) inserted")

1 Rocord(s) inserted

In [5]:
#insert multiple records into the table
cursor.execute("insert into scores1(gender, student_id, marks) values('female',102,68),('female',103,60)")

#save the recordes permenantly.(if you dont commit, next time you will not see the records in the table)
db.commit()

#count of records inserted
print(cursor.rowcount,"Rocord(s) inserted")

2 Rocord(s) inserted

In [11]:
cursor.execute("select * from scores1")

In [7]:
import pandas as pd

In [12]:
df = pd.DataFrame(cursor.fetchall())
print(df)

        0    1   2
0    male  100  55
1  female  102  68
2  female  103  60

In [13]:
cursor.description

(('gender', None, None, None, None, None, None),
 ('student_id', None, None, None, None, None, None),
 ('marks', None, None, None, None, None, None))

In [14]:
df.columns = [x[0] for x in cursor.description]
df.head()

   gender  student_id  marks
0    male         100     55
1  female         102     68
2  female         103     60

In [15]:
#just deleting for the next time usage
sql = "drop table scores1"
cursor.execute(sql)